.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 577px;
  padding: 25px 5px;
  background: url('../assets/angular-gif-logo.gif') no-repeat center center / contain;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 48px;
  background: linear-gradient(90deg, #f50e47, #923dff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  position: absolute;
  top: 70px;
  right: 5px;
  font-size: 27px;
  font-weight: 600;
  color: #923dff;
  border: none;
  background-color: transparent;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.close:hover {
  color: #f50e47;
  text-shadow: 0 0 2px #f50e47;
}

.close:active {
  text-shadow: 0 0 7px #f50e47;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 77px;
  font-size: 24px;
  box-shadow: 0 -6px 6px 2px #252525;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:not(.active):hover {
  text-shadow: 0 0 7px greenyellow;
}

.active {
  color: greenyellow;
  cursor: default;
}

@media screen and (max-width: 404px) {
  main {
    height: 453px;
    padding: 15px 5px;
  }

  h1 {
    font-size: 37px;
  }

  .close {
    top: 45px;
    right: 3px;
  }

  nav {
    padding: 0 44px;
    box-shadow: 0 -3px 3px 1px #252525;
  }
}
