main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 577px;
  padding: 25px 5px;
  background: url("../assets/angular-gif-logo.gif") no-repeat center center / contain;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 48px;
  background: linear-gradient(90deg, #f50e47, #923dff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 237px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:not(.active):hover {
  text-shadow: 0 0 7px greenyellow;
}

.active {
  color: greenyellow;
  cursor: default;
}

@media screen and (max-width: 404px) {
  main {
    height: 453px;
    padding: 15px 5px;
  }

  h1 {
    font-size: 37px;
  }

  nav {
    width: 252px;
    font-size: 29px;
  }
}
