.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 438px;
  background-color: #252525;
}

.screen {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 320px;
  height: 68px;
  padding: 0 22px 0 0;
  font-size: 68px;
  font-weight: 300;
  text-align: right;
  word-break: break-all;
  line-height: 0.99;
  overflow: hidden;
}

.numpad {
  width: 320px;
  height: 360px;
  padding: 0 14px 0 10px;
}

.numpad-btn {
  margin: 11px 0 0 11px;
  width: 61px;
  height: 61px;
  font-size: 30px;
  font-weight: 300;
  color: #252525;
  border: none;
  border-radius: 50px;
  background-color: azure;
  transition: 0.3s;
  cursor: pointer;
}

.numpad-btn:nth-child(1),
.numpad-btn:nth-child(2),
.numpad-btn:nth-child(3),
.numpad-btn:nth-child(4n),
.numpad-btn:nth-child(19) {
  color: #f50e47;
}

.numpad-btn:nth-child(17) {
  width: 133px;
  padding-right: 72px;
}

.numpad-btn:hover {
  box-shadow: 0 0 15px 1px #923dff;
  text-shadow: 0 0 1px #923dff;
}

.numpad-btn:active {
  box-shadow: 0 0 20px 2px #923dff;
  text-shadow: 0 0 2px #923dff;
}

@media screen and (max-width: 404px) {
  .calculator {
    width: 300px;
    height: 349px;
    padding-bottom: 4px;
  }

  .screen {
    height: 55px;
    padding-right: 29px;
    line-height: 0.8;
  }

  .numpad {
    width: 300px;
    height: 300px;
    padding-left: 29px;
  }

  .numpad-btn {
    margin: 8px 0 0 8px;
    width: 50px;
    height: 50px;
    font-size: 28px;
  }

  .numpad-btn:nth-child(17) {
    width: 108px;
    padding-right: 55px;
  }
}
