.todolist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 438px;
  background-color: #252525;
}

.save {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
  background-color: transparent;
  border: none;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.save:hover {
  color: greenyellow;
  text-shadow: 0 0 2px greenyellow;
}

.save:active {
  text-shadow: 0 0 7px greenyellow;
}

.textarea {
  width: 360px;
  height: 46px;
  max-height: 414px;
  resize: none;
  padding: 5px 40px;
  font-size: 24px;
  color: azure;
  background-color: #252525;
  border: none;
  box-shadow: 0 10px 10px 3px #252525;
  z-index: 1;
  appearance: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea::placeholder {
  text-align: center;
}

.todo-wrapper {
  position: relative;
  max-width: 277px;
}

.todos {
  width: 380px;
  height: 437px;
  padding: 25px 0 0 40px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.todos::-webkit-scrollbar {
  display: none;
}

.todo {
  margin: 11px;
  width: 277px;
  height: 61px;
  padding: 12px 18px;
  font-size: 30px;
  font-weight: 400;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 50px;
  background-color: azure;
  transition: 0.5s;
  cursor: pointer;
}

.todo:hover {
  box-shadow: 0 0 15px 1px #923dff;
  text-shadow: 0 0 1px #923dff;
}

.todo:active {
  box-shadow: 0 0 20px 2px #923dff;
  text-shadow: 0 0 2px #923dff;
}

.checkbox {
  position: absolute;
  top: 25px;
  left: -22px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.done {
  color: #757575;
  text-decoration: line-through;
}

.remove {
  position: absolute;
  top: 12px;
  right: -42px;
  font-size: 26px;
  color: #f50e47;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove:hover {
  text-shadow: 0 0 2px #f50e47;
}

.remove:active {
  font-weight: 600;
  text-shadow: 0 0 7px #f50e47;
}

.no-todos {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #757575;
}

@media screen and (max-width: 404px) {
  .todolist {
    width: 300px;
    height: 349px;
    padding-bottom: 3px;
  }

  .checkbox {
    top: 20px;
  }

  .remove {
    top: 7px;
    right: 13px;
  }

  .textarea {
    width: 291px;
    max-height: 337px;
    padding: 0 35px;
  }

  .textarea::placeholder {
    word-spacing: -3px;
  }

  .todos {
    width: 310px;
    padding: 21px 0 0 34px;
  }

  .todo {
    margin: 8px;
    width: 224px;
    height: 50px;
    padding-top: 9px;
    font-size: 28px;
  }
}
